.comments-container {
  overflow: hidden;
  margin-top: 2rem;
  .comments-list {
    overflow: scroll;
    background-color: #fafafa;
    height: 250px;
    .comment {
      background-color: white;
      margin: 15px;
      padding: 5px 15px;
      border-radius: 5px;
      p:first-of-type {
        span {
          margin-right: 10px;
          font-size: 0.9rem;
          color: #666666;
        }
      }
    }
  }
}
